body {
  background-color:white
}

#Banner {
  display: grid;
  grid-template-columns: 32px auto 32px;
  grid-template-rows: 64px;
}

#Connector_Link {
  display: grid;
  grid-template-columns: 32px auto 32px;
  grid-template-rows: 4px;
}

#Block {
  display: grid;
  grid-template-columns: 40px auto 40px;
  grid-template-rows: 40px auto 40px;
}

#Structure {
  display: grid;
  grid-template-columns: 20% 4px auto;
  grid-template-rows: auto;
}

#Structure2 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

#Block > #Background_UL {
  background: url('Assets/Background_UL.png');
  background-repeat: no-repeat;
  background-size: 40px 40px;
}

#Block > #Background_ML {
  background: url('Assets/Background_ML.png');
  background-repeat: no-repeat;
  background-size: 101% 101%;
}

#Block > #Background_LL {
  background: url('Assets/Background_LL.png');
  background-repeat: no-repeat;
  background-size: 40px 40px;
}

#Block > #Background_UM {
  background: url('Assets/Background_UM.png');
  background-repeat: no-repeat;
  background-size: 101% 101%;
}

#Block > #Background_MM {
  background: url('Assets/Background_MM.png');
  background-repeat: no-repeat;
  background-size: 101% 101%;
}

#Block > #Background_LM {
  background: url('Assets/Background_LM.png');
  background-repeat: no-repeat;
  background-size: 101% 101%;
}

#Block > #Background_UR {
  background: url('Assets/Background_UR.png');
  background-repeat: no-repeat;
  background-size: 40px 40px;
}

#Block > #Background_MR {
  background: url('Assets/Background_MR.png');
  background-repeat: no-repeat;
  background-size: 101% 101%;
}

#Block > #Background_LR {
  background: url('Assets/Background_LR.png');
  background-repeat: no-repeat;
  background-size: 40px 40px;
}

#Banner > #Banner_L {
  background: url('Assets/Banner_L.png');
  background-repeat: no-repeat;
  background-size: 32px 64px;
}

#Banner > #Banner_M {
  background: url('Assets/Banner_M.png');
  background-repeat: no-repeat;
  background-size: 101% 64px;
}

#Banner > #Banner_R {
  background: url('Assets/Banner_R.png');
  background-repeat: no-repeat;
  background-size: 32px 64px;
}

#Connector_Link > #Connector {
  background: url('Assets/connector.png');
  background-repeat: repeat-x;
}

#Connector_Link > #empty {
  background-color: white;
  background-size: 32px 4px;
}
