body {
    background: url('Assets/Brick2.png');
    background-repeat: repeat;
}

#Page_Layout {
    display: grid;
    grid-template-columns: auto 1000px auto;
    grid-template-rows: auto;
}

#Banner {
    display: grid;
    grid-template-columns: 32px auto 32px;
    grid-template-rows: 64px;
}

#Connector_Link {
    display: grid;
    grid-template-columns: 32px auto 32px;
    grid-template-rows: 4px;
}

#Structure {
    display: grid;
    grid-template-columns: 200px 4px 795px;
    position: relative;
}

#Structure2 {
    display: grid;
    grid-template-rows: 4px 600px 4px 300px;
}

#Block_1 {
    background: url('Assets/block_1.png');
    width:200px;
    height:600px;
}

#Block_2 {
    background: url('Assets/block_2.png');
    width:200px;
    height:300px;
}

#Block_3 {
    background: url('Assets/block_3.png');
    width:795px;
    height:600px;
}

#Block_4 {
    background: url('Assets/block_4.png');
    width:795px;
    height:300px;
}

#Banner>#Banner_L {
    background: url('Assets/banner_L.png');
    background-repeat: no-repeat;
    background-size: 32px 64px;
}

#Banner>#Banner_M {
    background: url('Assets/banner_M.png');
    background-repeat: repeat-x;
    background-size: 101% 64px;
}

#Banner>#Banner_R {
    background: url('Assets/banner_R.png');
    background-repeat: no-repeat;
    background-size: 32px 64px;
}

#Connector_Link>#Connector {
    background: url('Assets/connector.png');
    background-repeat: repeat-x;
}

#Connector_Link>#empty {
    background-color: black;
    background-size: 32px 4px;
}

/* major-mono-display-regular - latin */
@font-face {
    font-family: 'Major_Mono_Display';
    font-style: normal;
    font-weight: 400;
    src: local('Major Mono Display Regular'), local('MajorMonoDisplay-Regular'),
        url('Assets/fonts/major-mono-display-v4-latin-regular.woff') format('woff')
        /* Modern Browsers */
}

#Tabs {
    display: grid;
    grid-template-columns: 24px 80px 80px 80px 80px 80px 80px 80px 80px 80px 24px;
    position: absolute;
    z-index: 1;
    top: 15px;
    left: 218px;
}

#Tabs_text {
    display: grid;
    grid-template-columns: 80px 80px 80px 80px 80px 80px 80px 80px 80px;
    position: absolute;
    z-index: 2;
    top: 17px;
    left: 242px;
}

.tabcontent {
    display: grid;
    grid-template-rows: 50px 50px 50px 50px 50px 50px;
    grid-template-columns: 716px;
    display: none;
    position: absolute;
    z-index: 1;
    top: 45px;
    left: 245px;
}

#resources {
    display: grid;
    grid-template-rows: 20px 20px 20px 20px 20px 20px;
    grid-template-columns: 120px 60px;
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
}

#energy_stats_buttons {
    display: grid;
    grid-template-columns: 100px 10px 100px 10px 100px 10px 100px 10px 100px 10px 100px 10px 100px;
    position: absolute;
    z-index: 1;
    top: 450px;
    left: -24px;
}

#loading_bars {
    position: absolute;
    top: 185px;
    left: 390px;
    overflow-x: hidden;
    overflow-y: auto;
    display: grid;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
}

#loading_bars_fill {
    position: absolute;
    top: 185px;
    left: 417px;
    overflow-x: hidden;
    overflow-y: auto;
    display: grid;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
}

#workers_tags {
    position: absolute;
    top: 200px;
    left: 10px;
    width: 261px;
    overflow-x: hidden;
    overflow-y: auto;
    display: grid;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
}

#worker_numbers {
    position: absolute;
    top: 200px;
    left: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    display: grid;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
}

#energy_workers_stats {
    position: absolute;
    left: 314px;
    top: 80px;
}

#Upgrades_layout {
    position: relative;
    top: 80px;
    height: 450px;
    overflow-x: hidden;
    overflow-y: auto;
    display: grid;
    grid-template-rows: 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px;
    grid-template-columns: 350px 10px 350px;
}

#Upgrades_layout_text {
    position: inherit;
    top: 80px;
    height: 450px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    color: Azure;
    display: grid;
    grid-template-rows: 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px;
    grid-template-columns: 350px 10px 350px;
}

#tool_tip {
    width: 775px;
    height: 130px;
    color: Azure;
    margin: 10px;
    text-align: center;
    font-weight: bold;
}

#flavour_text {
    position: relative;
    top: 10px;
    width: 775px;
    height: 130px;
    color: Azure;
    margin: 10px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}
